@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Podkova:wght@400..800&display=swap');

.fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    /*color: #c0bbbb; */
}
body{
    background-color: #F9FAFC;
    background-image: url(../src/fondo-0.png);
}
.podkova-body {
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#quantity-australiano{
    margin-bottom: 12px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-position: center;
    position: relative; /*Mofi*/
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Para que el carrusel ocupe todo el header */
    z-index: -1; /* Para que esté detrás del contenido del header */
     overflow: hidden; /* Para asegurarte de que las imágenes no se desborden */
}


.carousel-inner {
    height: 100%; /* Para que las imágenes del carrusel ocupen toda la altura */
}

.carousel-item {
    height: 100%; /* Para que las imágenes ocupen toda la altura del carrusel */
}

.carousel-item img {
    object-fit: cover; /* Ajustar el tamaño de las imágenes para que se vean completas */
    width: 100%; /* Asegurar que la imagen ocupe todo el ancho */
    height: 100%; /* Asegurar que la imagen ocupe toda la altura */
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Ajustar el margen derecho para separar el logo */
}

.logo img {
    max-width: 100px; /* Ajustar el tamaño máximo del logo */
    height: auto;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .navbar ul {
    padding: 0;
    display: flex;
}
.menu .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #9e4e26;
    display: block;
    font-weight: 600; /
}
.menu .navbar ul li a:hover{
    color: #CE967B;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
label{
    color: #F9FAFC;
}
.menu label{
    cursor: pointer;
    display: none;
}
/* Estilos para el icono del carrito en el navbar */
.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.cart-icon img {
    width: 40px; /* Tamaño ajustado del icono del carrito */
    margin-right: 8px; /* Espaciado entre el icono y el contador */
    filter: invert(100%); /* Cambiar el color del icono a blanco */
}
.cart-icon img:hover{
    background-color: #ffffff;
}

.cart-counter {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #CE967B;
    color: #F9FAFC;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; /* Texto en negrita para mayor visibilidad */
}
.header-content{
    text-align: center;
}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #612e15;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #612e15;
    color: #F9FAFC;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: #CE967B;
}
.coffe{
    padding: 100px 0;
    background-color: #F9FAFC;
    position: relative;
}
.coffe-content{
    text-align: center;
}
.coffe-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #612e15;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p{
    font-size: 16px;
    color: #611515;
    padding: 0 250px;
    margin-bottom: 35px;
    
}
#container-fond{
    background-image: url(../src/fondo-0.png);
}
.coffe-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.coffe-1{
    padding: 2;
}
.coffe-1 img{
    width: 200px;
}
.coffe-img{
    position: absolute;
    top: 0;
    right: 0;
}
.coffe-1 h3{
    counter-reset: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
}
.services{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../src/fondo-1.jpg);
        
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}
.services-content{
    text-align: center;
}
.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #612e15;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.services-content p{
    font-size: 16px;
    color: #F9FAFC;
    margin-bottom: 50px;
    padding: 0 100px;
}
.services-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.services-1{
    padding: 0 100px;
}
.services-1 img{
    width: 25px;
    margin-bottom: 15px;
}
.services-1 h3{
    counter-reset: #EACCB3;
    font-size: 18px;
    color: #ffffff;
}

/* Estilos para la sección de productos */
.products {
    padding: 50px 0;
}

.product-category {
    margin-bottom: 50px;
}

.product-category h2 {
    font-size: 36px;
    color: #612e15;
    margin-bottom: 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product {
    border: 8px solid #612e15;
    padding: 20px;
    text-align: center;
    position: relative; /* Para posicionar el botón de comprar */
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    height: 60%; /* Establece la altura deseada para todas las imágenes */
    

}

.product h3 {
    font-size: 24px;
    font-weight: bold;
    color: #612e15;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.price {
    font-size: 18px;
    color: #612e15;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-buy {
    display: inline-block;
    padding: 10px 20px;
    background-color: #612e15;
    color: #F9FAFC;
    text-decoration: none;
    border-radius: 5px;
}

.btn-buy:hover {
    background-color: #CE967B;
}

.btn-2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #612e15;
    color: #F9FAFC;
    text-decoration: none;
    border-radius: 5px;
}

.btn-2:hover {
    background-color: #CE967B;
}
.general{
    display: flex;
}
.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #F9FAFC;
}
.general-2{
    background-image: url(../src/calidad-1.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3{
    background-image: url(../src/calidad-2.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
h2{
    font-size: 55px;
    line-height: 70px;
    color: #612e15;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}
p{
    font-size: 16px;
    color: #000000;
    margin-bottom: 25px 0 45px 0;
    
}
.color-white{
    color: #f0f0f0;
    font-weight: bolder;
}
.blog{
    padding: 100px 0;
    text-align: center;
}
.blog-content{
    display: flex;
    justify-content: space-between;
}
.blog-1{
    padding: 15px 55px;
}
.blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.blog-1 h3{
    font-size: 25px;
    color: #323337;
}
.blog-1:hover {
    transform: scale(1.1);
}
.footer{
    padding: 70px 5%;
    background-color: #996043;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    color: #F9FAFC;
}

.link h3{
    font-size: 18px;
    margin-bottom: 25px;
}

.link a{
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}
@media (max-width: 990px) {
    .logo {
        display: none;
    }

    .menu {
        padding: 10px 15px;
    }

    .menu label {
        display: initial;
        cursor: pointer;
    }

    .menu .navbar {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
        z-index: 1000; /* Añadido z-index para asegurar visibilidad */
    }

    .menu .navbar ul {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        font-size: 18px;
        padding: 15px 0;
        color: #9e4e26;
        display: block;
        font-weight: 600;
        text-align: center;
    }

    #menu:checked ~ .navbar {
        display: flex;
    }

    .cart-icon {
        z-index: 1000; /* Añadido z-index para asegurar visibilidad */
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 60px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .coffe {
        padding: 30px;
    }

    .coffe-content h2 {
        padding: 0 15px;
    }

    .txt-p {
        padding: 0 15px;
    }

    .coffe-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .coffe-img {
        display: none;
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0 15px;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .general-2,
    .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .link {
        margin-bottom: 30px;
    }
}

